.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 15px;

  .skillactive {
    max-width: 400px;
    max-height: 70px;
    margin-bottom: 75px;

    @media all and (max-width: 420px) {
      width: 189px;
      height: 34px;
    }
  }
}
